.manage-room-container {
  padding: 10px;
  .title {
    h3 {
      color: black;
    }
  }

  .room-content {
    button.btn-add-room {
      gap: 5px;
      justify-content: center;
      align-items: center;
      display: flex;
    }
    .table-rooms {
      margin-top: 40px;
    }
  }
}
