@import url("https://fonts.googleapis.com/css?family=Inter");
@import url("https://fonts.cdnfonts.com/css/hepta-slab");
@import url("https://fonts.cdnfonts.com/css/inika");
@import url("https://fonts.googleapis.com/css?family=Julee");
@import url("https://netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css");
.container-fluid {
  width: 100%;
  height: 100%;

  background-color: white;
  // padding: 0;
  .user {
    text-align: right;
    padding: 5px;
    #nameuser {
      float: right;
      color: rgb(207, 31, 31);
    }
    img {
      width: 24px;
      height: 24px;
      //float: right;
    }
  }
  
  .cover {
    width: 100%;
    height: 410px;
    position: relative;
    left: 0px;
    top: -2px;
    // background-image: url(https://www.hoteljob.vn/files/Pic/Th%C3%A1ng%204/Khach-san-la-gi-01.jpg);
  
    background: linear-gradient(0deg, rgba(4, 12, 19, 0.8), rgba(4, 12, 19, 0.8)),
      url(https://www.hoteljob.vn/files/Pic/Th%C3%A1ng%204/Khach-san-la-gi-01.jpg);
    border-radius: 0px 0px 40px 40px;
    background-size: cover;
  
    .logo {
      position: absolute;
      left: 5.15%;
      top: 5.05%;
    }
    .logo p {
      color: #fff;
      font-family: "Kalam";
      font-size: 18px;
      font-weight: 400;
      text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    }
  
    .hotel {
      color: white;
      
  
      .detail {
        position: absolute;
          bottom: 10px;
          right: 10px;
        
        //float: right;
  
        p {
          text-align: right;
          vertical-align: bottom;
          font-family: "Inter";
          font-style: normal;
          margin-right: 10px;
          
        }
        #p1 {
          font-weight: 600;
          font-size: 36px;
          line-height: 32px;
          display: flex;
          align-items: flex-end;
          text-align: right;
          letter-spacing: 0.002em;
  
          color: #ffb13d;
  
          /* Inside auto layout */
  
          flex: none;
          order: 0;
          flex-grow: 0;
        }
        #p2 {
          font-weight: 600;
          font-size: 36px;
          line-height: 32px;
          /* identical to box height, or 89% */
  
          // display: flex;
          // align-items: flex-end;
          text-align: right;
          letter-spacing: 0.002em;
  
          color: #e9e9e9;
  
          /* Inside auto layout */
  
          flex: none;
          order: 1;
          flex-grow: 0;
        }
        #p3 {
          font-family: "Hepta Slab";
          font-style: normal;
          font-weight: 400;
          font-size: 48px;
          line-height: 24px;
          /* identical to box height, or 50% */
  
          // display: flex;
          // align-items: flex-end;
          text-align: right;
  
          color: #878cff;
  
          /* Inside auto layout */
  
          flex: none;
          order: 2;
          flex-grow: 0;
        }
      }
    }
    .avtHotel {
      position: absolute;
      top: 230px;
      left: 50px;
      
      width: 300px;
      height: 200px;
      img {
        width: 300px;
        height: 200px;
        border-radius: 30px;
      }
    }
  }
  .name {
    margin-top: 20px;
    margin-left: 50px;
    font-family: "Inika";
  }
  .star {
    color: #dfb300;
  }
  .control {
    color: white;
    position: absolute;
    top: 50%;
    font-size: 20px;
    transform: translateY(-50%);
  }
  .prev {
    left: 10px;
  }
  .next {
    right: 10px;
  }
  .comment #cmt {
    text-align: center;
    font-family: "Julee";
    font-style: normal;
    font-weight: 400;
    font-size: 70px;
    line-height: 48px;
    color: #1e2640;
  }
  #des{
    font-size:17px;
    font-family: "Inika";
font-style: normal;
color: #8B8B8B;
  }
  #avt {
    width: 50px;
    height: 50px;
    border-radius: 50%;
  }
  .com{
    margin: 20px;
  
  }
  .commentdetail {
    display: flex;
    margin-left: 10px;
    font-family: "Inter";
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 26px;
    margin-bottom: 10px;
    padding-top: 20px;
    //padding-bottom: 30px;
  }
  span {
    width: 200px;
    height: 60px;
    margin-left: 10px;
  
    #username{
      font-family: "Inter";
      font-style: normal;
      font-weight: bold;
      font-size: 20px;
      transform: translateY(-50%);
    }
    .prev {
      left: 10px;
    }
  }
  
  #review {
    margin-left: 10px;
    font-family: "Inter";
    font-style: normal;
    font-weight: 500;
    font-size: 17.1313px;
    line-height: 26px;
  }
  
  #rate {
    color: #959595;
  }
  .reviews{
    border: none;
    width: 80%;
    height: 100px;
  }
  // .listrev{
  //   margin-top: 30px;
  //   text-align: center;
  //   label{
  //     color:#dfb300;
  //   }
  // }
  #rev{
    width: 500px;
    height: 80px;
    color: #000;
    border-radius: 10px;
    word-wrap: break-word;
  }
  #loadCmt {
    display: flex;
    margin: auto;
    justify-content: center;
    align-items: center;
    border: none;
    width: 200px;
    height: 40px;
    background: #5f6fff;
    border-radius: 20px;
    font-family: "Inter";
    font-style: normal;
    font-size: 15px;
    color: white;
  }
  
  .room {
    display: flex;
    margin: 10px;
    color: #959595;
    box-sizing: border-box;
    align-items: flex-start;
    padding: 10px 0px 10px 10px;
    background: #ffffff;
    border: 1px solid #000000;
    box-shadow: 20px 20px 20px rgba(59, 77, 129, 0.08);
    border-radius: 10px;
    
    #roomName{
      color: #000;
      
    }
    img {
      width: 300px;
      height: 200px;
      border-radius: 10px;
      margin-right: 20px;
    }
    .comment #cmt {
      text-align: center;
      font-family: "Julee";
      font-style: normal;
      font-weight: 400;
      font-size: 70px;
      line-height: 48px;
      color: #1e2640;
    }
    
    #avt {
      width: 50px;
      height: 50px;
      border-radius: 50%;
    }
    .com{
      margin: 20px;
      
    }
    .commentdetail {
      display: flex;
      margin-left: 10px;
      font-family: "Inter";
      font-style: normal;
      font-weight: 500;
      font-size: 20px;
      line-height: 26px;
      margin-bottom: 10px;
      padding-top: 20px;
      //padding-bottom: 30px;
    }
    span {
      width: 200px;
      height: 60px;
      margin-left: 10px;
    
      #username{
        font-family: "Inter";
        font-style: normal;
        font-weight: bold;
        font-size: 20px;
        line-height: 26px;
      }
      #usercmt{
        margin-top: 20px;
        width: 100px;
      }
    }
    
    #review {
      margin-left: 10px;
      font-family: "Inter";
      font-style: normal;
      font-weight: 500;
      font-size: 17.1313px;
      line-height: 26px;
    }
    
    #rate {
      margin-left: 30px;
      color: #959595;
    }
    .reviews{
      border: none;
      width: 80%;
      height: 100px;
    }
    // .listrev{
    //   margin-top: 30px;
    //   text-align: center;
    //   label{
    //     color:#dfb300;
    //   }
    // }
    #rev{
      width: 500px;
      height: 80px;
      color: #000;
      border-radius: 10px;
      word-wrap: break-word;
    }
    #loadCmt {
      display: flex;
      margin: auto;
      justify-content: center;
      align-items: center;
      border: none;
      width: 200px;
      height: 40px;
      background: #5f6fff;
      border-radius: 20px;
      font-family: "Inter";
      font-style: normal;
      font-size: 15px;
      color: white;
    }
  }
  .listrev{
    display: flex;
    padding-left: 25%;
    padding-bottom: 20px;
  }
  .rate{
  
  
    input { display: none; }
  
    label {
      float: right;
      padding: 10px;
      font-size: 36px;
      color: #444;
      transition: all .2s;
    }
  
    input:checked ~ label:before {
      content: '\f005';
      color: #FD4;
      transition: all .25s;
    }
  
    input.star-5:checked ~ label.star:before {
      color: #FE7;
      text-shadow: 0 0 20px #952;
    }
  
    input.star-1:checked ~ label:before { color: #F62; }
  
    label:hover { transform: rotate(-15deg) scale(1.3); }
  
    label:before {
      content: '\f006';
      font-family: FontAwesome;
    }
  }
  .changePage {
    text-align: center;
  
    #btnRight {
    }
  }
  .comm{
    margin-left: 70px;
    display: flex;
  }
  .texxx{
    border: none;
    font-size: 17px;
    width: 90%;
    height: 100px;
  }
  .texxx:focus{
    color: red;
  }
  .none{
    display: none;
  }
  #roomh1{
    padding: 20px;
    text-align: center;
    font-family: 'Julee';

  }
  .room:hover{
    cursor: pointer;
  }
}

