.manage-review-container {
  padding: 10px;
  .title {
    h3 {
      color: black;
    }
  }

  .review-content {
    button.btn-add-review {
      gap: 5px;
      justify-content: center;
      align-items: center;
      display: flex;
    }
    .table-reviews {
      margin-top: 40px;
    }
  }
}
