.footer{
    color: white;
    font-family: 'Inter';
    font-style: normal;
    background: linear-gradient(0deg, rgba(6, 48, 83, 0.8), rgba(6, 48, 83, 0.8)), url(https://brillianthotel.vn/upload/hinhanh/brilliant_110531517032018-4728.jpg);
    #name{
        font-size: 20px;
    }
    p{
        margin-top: 10px;
        margin-left: 10px;
    }
}